# Ignore Git internals
.git/
.env

# Ignore build folders and temp files
node_modules/
dist/
build/
out/
win-unpacked/

# Ignore temporary logs and cache
*.log
*.tmp
*.bak

# Don't ignore .exe or archives — they're handled by Git LFS

# Reece actually has no idea what he's doing, this was written by Reece
